<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26191770439-hntflim3cpaha3cb38rt9eiaf2ifvbm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26191770439-hntflim3cpaha3cb38rt9eiaf2ifvbm9</string>
	<key>API_KEY</key>
	<string>AIzaSyC-8VbMjCYBK5NwiW7av8KcXZNEMqyL7Sc</string>
	<key>GCM_SENDER_ID</key>
	<string>26191770439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yashdhume.okeano</string>
	<key>PROJECT_ID</key>
	<string>okeano-1571677366143</string>
	<key>STORAGE_BUCKET</key>
	<string>okeano-1571677366143.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:26191770439:ios:f6eefc11b03466712f9262</string>
	<key>DATABASE_URL</key>
	<string>https://okeano-1571677366143.firebaseio.com</string>
</dict>
</plist>
